* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #00F58C;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
  font-family: 'Open Sans', sans-serif;
  background: $mainGrey;
  color: $mainGreen;
}