* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #38D149;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainTransition: all .3s linear;

body {
  font-family: 'Open Sans', sans-serif;
  // background: $mainGrey;
  // color: $mainGreen;
}